@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  background: rgb(249,247,247);
background: radial-gradient(circle, rgba(249,247,247,1) 0%, rgba(219,226,239,1) 100%);
}
